# Dependencies
node_modules/

# Build output
dist/
out/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user

# Env
.env
.env.*

# Release
release/

# .NET build output
module/**/obj/
module/**/bin/
module/**/.vs/
